:root {
  /* App Color */
  --color-text: var(--color-black);
  --color-text-contrast: var(--color-white);
  --color-primary: var(--color-beige);
  --color-accent: var(--color-orange);
  --color-primary-muted: var(--color-dark-beige);
  --color-primary-dark: var(--color-chocolate);
  --color-primary-light: var(--color-warm-brown);

  /* Color */
  --color-black: #2b1414;
  --color-white: #ffffff;
  --color-gray: #d9d9d9;
  --color-orange: #ffcf33;
  --color-beige: #fff2de;
  --color-dark-beige: #cdb49b;
  --color-chocolate: #866249;
  --color-warm-brown: #deb591;
}

/* Common */
* {
  box-sizing: border-box;
}

body,
ul,
h1,
h2,
h3,
p {
  margin: 0;
}
body {
  background-color: var(--color-primary);
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--color-text);
}
button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

/* Header */
.header {
  font-family: 'Prociono', serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 10px 16px;
  border-bottom: 1px solid var(--color-black);
}
.logo {
  display: flex;
  align-items: center;
  height: 100%;
}
.logo__img {
  height: 100%;
}
.logo__title {
  font-family: 'Prociono', serif;
  font-size: 30px;
}
.header__menu {
  display: flex;
  align-items: center;
  gap: 4px;
}
.header__menu__item {
  padding: 0.5rem 1rem;
  font-size: 20px;
}
.header__menu__item:hover {
  background-color: var(--color-text-contrast);
  border-radius: 2rem;
}
